#container {
    margin-top: 40px;
}

#authorize-div {
    text-align: center;
}

.list-group-item {
    height: 40px;
}

a {
    cursor: pointer;
}

.state-icon {
    display: none
}

.back {
    display: none;
    margin: 15px auto
}