<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task manager</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">

    <script type="text/javascript" src="/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/underscore/underscore-min.js"></script>

    <script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/lib/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/lib/marionette/backbone.marionette.min.js"></script>

    <script src="/lib/client.js"></script>
</head>
<style>
    #container {
        margin-top: 40px;
    }

    #authorize-div {
        text-align: center;
    }

    .list-group-item {
        height: 40px;
    }

    a {
        cursor: pointer;
    }

    .state-icon {
        display: none
    }

    .back {
        display: none;
        margin: 15px auto
    }

    .login-panel {
        margin-top: 40px;
    }
</style>
<body>

<div id="main" class="col-md-4 col-md-offset-4">

</div>


<div id="container" class="col-md-4 col-md-offset-4" style="display: none">
    <div id="authorize-div">
        <button id="authorize-button" class="btn btn-primary" onclick="handleAuthClick(event)">
            Authorize
        </button>
    </div>
</div>
</body>

<script id="list-template" type="text/html">

    <ul class="list-group wrap">
        <h1><%= title %></h1>
    </ul>

    <div class="input-group">
        <input type="text" class="form-control">

        <div class="input-group-btn">
            <button id="create" class="btn btn-success" data-loading-text="Saving...">Add</button>
        </div>
    </div>
    <div class="text-center">
        <button class="back btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back
        </button>
    </div>

</script>

<script id="item-template" type="text/html">
    <span class="state-icon glyphicon"></span>

    <%= title %>
    <span class="pull-right">
        <button class="btn btn-xs btn-warning remove">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
      </span>
</script>

<script id="layout-template" type="text/template">
    <div id="content"></div>
    <div id="auth"></div>
    <div id="signInLayout"></div>
</script>


<script id="template-view" type="text/template">
    <div class="container">
        <div class="col-md-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign up:</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input class="form-control" placeholder="Email" id="email" name="email"
                                       autofocus="">
                                <span id="exist" class="help-block" style="color:red; display: none">User with this
                                    email
                                    already
                                    exist
                                    .</span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <input class="form-control" placeholder="Password" id="password" name="password"
                                       type="password" value="">
                            </div>
                            <button id="signUp" type="button" class="btn btn-lg btn-success btn-block">Sign up
                            </button>
                            <div style="text-align: center; margin-top: 20px">
                                <a href="#signin">Sign in</a>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="sign-in-view" type="text/template">
    <div class="container">
        <div class="col-md-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign in:</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input class="form-control" placeholder="Email" id="email" name="email"
                                       autofocus="">
                            </div>
                            <div class="form-group">
                                <label for="password" class="sr-only">Password</label>
                                <input class="form-control" placeholder="Password" id="password" name="password"
                                       type="password" value="">
                            </div>
                            <button id="signIn" type="button" class="btn btn-lg btn-success btn-block">Sign in
                            </button>

                            <div style="text-align: center; margin-top: 20px">
                                <a href="#signup">Sign up</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/javascript" src="js/view/LoginView.js"></script>
<script type="text/javascript" src="js/view/SignInView.js"></script>
<script type="text/javascript" src="/lib/JavaScript-MD5-master/js/md5.min.js"></script>
<script type="text/javascript" src="js/views.js"></script>
<script type="text/javascript" src="js/auth.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>