<script id="list-template" class="template" type="text/html">

    <ul class="list-group wrap">
        <h1><%= title %></h1>
    </ul>

    <div class="input-group">
        <input type="text" class="form-control">

        <div class="input-group-btn">
            <button id="create" class="btn btn-success" data-loading-text="Saving...">Add</button>
        </div>
    </div>
    <div class="text-center">
        <button class="back btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back
        </button>
    </div>

    <div id="footer">
        <label>Written by: </label>
        <br>
        <a href="https://github.com/dpishchukhin">Dmytro Pishchukhin</a>
        <br>
        <a href="https://github.com/approce">Roman Zaiats</a>
    </div>

</script>